*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    min-height: 5vh;
    background-color: rgb(255, 105, 0);
}

nav{
    display:flex;
    justify-content: space-around;
}

.link{
    align-self: center;
}

div>a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

#logo{
    height: 4vh;
}
/* sezione principale---------------------------------------- */
main{
    display: flex;
    justify-content: center;
}
.row-photo{
    display: flex;
    width: 700px;
    height: 500px;
}

.model-one{
    background-image: url(../img/1.webp);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 33.3%;
}

.model-two{
    background-image:url(../img/2.webp);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 33.3%;


}

.model-three{
    background-image:url(../img/3.webp);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 33.3%;


}